<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrders" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57840/OrderHistory.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOrders" contract="OrderHistoryService.IOrders"
                name="BasicHttpBinding_IOrders" />
        </client>
    </system.serviceModel>
</configuration>